META_APP_ID=1481245430330902
META_APP_SECRET=6976e37f9d3e80cfe2f17b47ae4b2b88
META_ACCESS_TOKEN=EAAVDL1OzNhYBRMlFYn3AogqCZAUCdPGRdVr8cClGch0x4osx6Lrwl0XEMhrMyipAxhMKFyHUiCZAiukG3Sa2j2Gs1akq1e8hAz5ilAAlsFX4X99KPvgCFpNrxO5B1W4PCFhck4Nry1QNO3mrX1GDQJgPCSBstczZB0sNDYgp4pvZA93ecKNtpKRYdGPS87c3SSqb
META_AD_ACCOUNT_ID=act_415126871085547
